extends layout

block content
    h3 Database Content
    div.table-responsive
        table.table.table-bordered
            thead
                tr
                    th.col-md-3 participantID
                    th.col-md-3 trait
                    th.col-md-3 numPhotos
                    th.col-md-3 photo
            tbody
                each participant, i in allphotos
                    tr
                        td 
                            text #{participant.participantID}
                        td 
                            text #{participant.trait}
                        td 
                            text #{participant.numPhotos}
                        td 
                            img(class="img-responsive", src=participant.photo)
