extends layout

block content
    div.row
        h1 Thank you for participating in this study!
    
    div.row
        p You can see the page I would use to review database data here:
        a( href="/allphotos") View database contents